<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-4">
            <ul class="list-group">
            {{#each model as |post|}}
                <li class="list-group-item">
                     {{#link-to 'posts.post' post.id}}
                        {{post.information}}
                    {{/link-to}}
                </li>
            {{/each}}
            </ul>
        </div>
        {{outlet}}
    </div>
</div>
